.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h1 {
    font-size: 50px;
    font-weight: 700;
  }
  section {
    padding-left: 20px;
    p {
      padding: 4px 0;
      font-size: 16px;
      line-height: 1.2;
    }
    a {
      color: var(--color-primary);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
