.search {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  input {
    flex-grow: 1;
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-area);
    &::placeholder {
      color: var(--color-white-30);
    }
  }
}
